@import "tailwindcss";

.bg-pattern {
    background-color: #00af00;
    background-image: url('./assets/img/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @keyframes fade-in {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .animate-fade-in {
    animation: fade-in 0.5s ease-out;
  }
  